body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    position: relative;
}

.custom {
    display: none;
    cursor: pointer;
    background-color: #c03a32;
}

.custom-label:before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 2px solid #282c34;
    border-radius: 10px;
    cursor: pointer;
}

.custom:checked + .custom-label:after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 20px;
    top: 2px;
    left: 12px;
    position: absolute;
    cursor: pointer;
    border: solid #0079bf;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}